#btn1{
  font-size:30px;
  background:yellow;
}
span{
  margin:35px;
}
#s1{
  color:red;
  font-size:50px;
}
#btn2{
  font-size:30px;
  background:yellow;
}
#s2{
  color:red;
  font-size:50px;
}
#btn3{
  font-size:30px;
  background:yellow;
}
#s3{
  color:red;
  font-size:50px;
}
#btn4{
  font-size:30px;
  background:yellow;
}
#s4{
  color:red;
  font-size:50px;
}
#btn5{
  font-size:30px;
  background:yellow;
}
#s5{
  color:red;
  font-size:50px;
}
#btn6{
  font-size:30px;
  background:yellow;
}
#s6{
  color:red;
  font-size:50px;
}
#btn7{
  font-size:30px;
  background:yellow;
}
#s7{
  color:red;
  font-size:50px;
}
#btn8{
  font-size:30px;
  background:yellow;
}
#s8{
  color:red;
  font-size:50px;
}
#btn9{
  font-size:30px;
  background:yellow;
}
#s9{
  color:red;
  font-size:50px;
}
#btn10{
  font-size:30px;
  background:yellow;
}
#s10{
  color:red;
  font-size:50px;
}
