*{
  color:white;
}
p{text-indent:30px;font-size:20px;}
li{font-size:20px;}
h1 {
  font-size:50px;
}
h2{font-size:40px;}
h3{font-size: 35px;}
h4{font-size:30px;}
textarea{
  width:50%;
  height:250px;
  font-size: 20px;
  background:white;
  color:black;
}
body{
  background:black;
}
